*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,black,darkblue,maroon,black);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
hr{
    margin:  auto;
    border: 1px solid rgba(255, 217, 0, 0.486);
    width: 90%;
    box-shadow: 0px 2px 6px black;
}
h1{
    margin: 0% auto;
    color: wheat;
    text-shadow: 2px 2px 2px darkblue;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 5px;
    width: 95%;
    border: 6px solid rgba(255, 255, 255, 0.13);
    border-radius: 100%;
    box-shadow: 0px 3px 6px black;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    background-image: url(MusicGig.gif);
    background-position: top;
    background-size: 100%;
}
h1 ion-icon{
    color: rgba(255, 217, 0, 0.61);
    background-image: url(lollipop_3GIF.gif);
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid wheat;
    box-shadow: 0px 2px 6px lightskyblue;
    border-radius: 50%;
}
h2{
    margin: 0% auto;
    font-size: 25px;
    color: darkgray;
    text-shadow: 2px 2px 4px darkblue;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.144);
    box-shadow: 0px 3px 6px black;
    padding: 5px 10px;
    border-radius: 20px;
    border-top: 2px solid rgba(245, 222, 179, 0.589);
    width: 75%;
}
h2 ion-icon {
    color: rgba(255, 217, 0, 0.582);
}
h3{
    margin: 0% auto;
    font-size: 12px;
    position: relative;
    color: darkgray;
    text-shadow: 2px 2px 4px darkblue;
    text-align: center;
    opacity: 70%;
    background-color: rgba(245, 245, 245, 0.096);
    box-shadow: 0px 3px 6px black;
    padding: 5px;
    width: 120px;
    border-radius: 20px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    top: 10px;
}
h3 ion-icon {
    color: rgba(255, 217, 0, 0.582);
}

header {
    margin: 0% auto;
    text-align: center;
}

.video-details {
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    position: absolute;  /* Use fixed positioning to keep the modal on the screen */
    top: 50%;         /* Center vertically */
    left: 50%;        /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering adjustment */
    width: 70%;       /* Width of the draggable container */
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.856); /* Dark background */
    border-radius: 15px;
    border: 2px solid rgba(169, 169, 169, 0.596);
    box-shadow: 0px 5px 15px black; /* Soft shadow */
    z-index: 9999; /* Ensure the modal appears in front */
    text-align: center;
}


  

#videoThumbnail{
    padding: 2px;
    width: 75px;
    height: 75px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px lightskyblue;
    margin-bottom: 5px;
}
 
#videoTitle{
    margin: 0% auto;
    font-size: 15px;
    color: rgb(197, 191, 191);
    text-shadow: 2px 2px 2px darkblue;
    background-color: rgba(245, 245, 245, 0.082);
    padding: 5px;
    width: 60%;
    border-radius: 20px;
    letter-spacing: 0.5px;
}
#creatorName{
    font-size: 12px;
    color: white;
    text-shadow: 0px 0px 2px gold;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}











.song-details {
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    position: absolute;  /* Use fixed positioning to keep the modal on the screen */
    top: 50%;         /* Center vertically */
    left: 50%;        /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering adjustment */
    width: 70%;       /* Width of the draggable container */
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.856); /* Dark background */
    border-radius: 15px;
    border: 2px solid rgba(169, 169, 169, 0.596);
    box-shadow: 0px 5px 15px black; /* Soft shadow */
    z-index: 9999; /* Ensure the modal appears in front */
    text-align: center;
}


  

#songImage{
    padding: 2px;
    width: 75px;
    height: 75px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px lightskyblue;
    margin-bottom: 5px;
}
 
#songName{
    margin: 0% auto;
    font-size: 15px;
    color: rgb(197, 191, 191);
    text-shadow: 2px 2px 2px darkblue;
    background-color: rgba(245, 245, 245, 0.082);
    padding: 5px;
    width: 50%;
    border-radius: 20px;
    letter-spacing: 0.5px;
}
#artistName{
    font-size: 11px;
    color: white;
    text-shadow: 0px 0px 2px gold;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
#messages{
    margin: 0% auto;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
   
}

#messages{
    margin: 0% auto;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
   
}

li {
    margin: 0% auto;
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #1013be;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 65%;
    margin-left: 35%;
    box-shadow: 0px 3px 6px black;
    border-bottom: 1px solid wheat;
   

   
}
.sent {
    margin: 0% auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.603);
    box-shadow: 0px 3px 6px black;
    margin-right: 35%;
    text-shadow: 2px 2px 2px darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(13, 182, 13);
    width: 65%;
   
}

.sent span {
    margin: 5px;
    color: white;
    text-shadow: 0px 0px 3px gold;
   
    
}

li span {
  margin: 0% auto;
  font-style: italic;
  font-weight: bolder;
  color: yellow;
  text-shadow: 2px 2px 2px darkblue;
  text-decoration: underline;
  padding: 5px 2px;
  margin: 3px;
  border-radius: 10px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.Chat-Display{
    margin: 0% auto;
    padding: 10px;
    position: relative;
    width: 100%;
    border: 1px solid white;
    border-radius: 15px;
    overflow: auto;
    height: 450px;
    box-shadow: 0px 2px 6px lightskyblue;
    margin-bottom: 65px;
}
.Chat-Display::-webkit-scrollbar{
    width: 12px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.Chat-Display::-webkit-scrollbar-thumb{
    height: 0px;
    background-color: transparent;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid lightskyblue;
}
.Chat-Display::-webkit-scrollbar-track{
    background: transparent;
}

.Chat-Display::-webkit-scrollbar-thumb:hover{
    border: 1px solid gold;
    background-color: green;
}


#chat {
    margin: 0% auto;
    width: 90%;
   
}

#message-form {
    margin: 0% auto;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right,black,darkblue,maroon,black);
    border: 1px solid rgba(255, 217, 0, 0.589);
    padding: 5px;
    border-radius: 8px;
}
#username-container ion-icon{
    margin: 0% auto;
    color: wheat;
    display: flex;
    justify-content: center;
}
#username {
    margin: 0% auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    border: 2px solid lightskyblue;
    background-color: rgba(245, 245, 245, 0.842);
    box-shadow: 0px 2px 4px black;
    margin-top: 5px;
    margin-bottom: 15px;
    
}
#email{
    margin: 0% auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    border: 2px solid lightskyblue;
    background-color: rgba(245, 245, 245, 0.842);
    box-shadow: 0px 2px 4px black;
    margin-top: 5px;
    margin-bottom: 15px;

}
#phone{
    margin: 0% auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    border: 2px solid lightskyblue;
    background-color: rgba(245, 245, 245, 0.842);
    box-shadow: 0px 2px 4px black;
    margin-top: 5px;
   
  
}
#set-name-btn {
    margin: 0% auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 15px;
    width: 100px;
    border-radius: 15px;
    background-color: green;
    border: none;
    border: 1px solid gold;
    box-shadow: 0px 2px 6px black;
    color: white;
    text-shadow: 0px 0px 3px gold;
    font-size: 18px;
    padding: 6px 12px;
    cursor: pointer;
    z-index: 999;

}

audio {
    display: none;
}
#searchInput{
    margin: 0% auto;
    position: relative;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border: 2px solid lightskyblue;
    background-color: rgba(245, 245, 245, 0.842);
    box-shadow: 0px 2px 4px black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#searchInput:focus{
    background-color: lightblue;
}
#trackList{
    margin: 0% auto;
    padding: 5px;
    width: 95%;
    overflow: scroll;
    height: 20vh;
}
#trackList::-webkit-scrollbar{
    background-color: transparent;
    height: 0;
    width: 15px;
}
#trackList::-webkit-scrollbar-thumb{
    border: 1px solid rgba(135, 206, 250, 0.726);
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 50px;
    height: 50px;
    width: 0;
    cursor: pointer;

}
#trackList::-webkit-scrollbar-thumb:hover{
    border: 2px solid rgba(153, 205, 50, 0.781);
}
#trackList::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 10px;
   

}
#trackList li{
    margin:  auto;
    justify-content: center;
    margin-bottom: 10px;
    background: linear-gradient(to right,black,darkblue,maroon,black);
    opacity: 80%;
    cursor: pointer;
}
#trackList li:hover{
    transform: scale(1.10);
    transition: 0.5s;
    opacity: 100%;
}
#trackList img{
    margin: 0% auto;
    width: 50px;
    height: 50px;
    padding: 1px;
    border-radius: 6px;
    border: 1px solid rgba(135, 206, 250, 0.747);
    box-shadow: 0px 3px 6px black;
}
#trackList h5{
    color: yellow;
    text-shadow: 2px 2px 2px darkblue;
    font-size: 14px;
}
#trackList p{
    color: white;
    text-shadow: 0px 0px 2px gold;
    font-size: 12px;
}













#searchInputV{
    margin: 0% auto;
    position: relative;
    width: 80%;
    padding: 3px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border: 2px solid lightskyblue;
    background-color: rgba(245, 245, 245, 0.842);
    box-shadow: 0px 2px 4px black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#searchInputV:focus{
    background-color: lightblue;
}
#videoListV{
    margin: 0% auto;
    padding: 5px;
    width: 95%;
    overflow: scroll;
    height: 20vh;
}
#videoListV::-webkit-scrollbar{
    background-color: transparent;
    height: 0;
    width: 15px;
}
#videoListV::-webkit-scrollbar-thumb{
    border: 1px solid rgba(135, 206, 250, 0.726);
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 50px;
    height: 50px;
    width: 0;
    cursor: pointer;

}
#videoListV::-webkit-scrollbar-thumb:hover{
    border: 2px solid rgba(153, 205, 50, 0.781);
}
#videoListV::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 10px;
   

}
#videoListV li{
    margin:  auto;
    justify-content: center;
    margin-bottom: 10px;
    background: linear-gradient(to right,black,darkblue,maroon,black);
    opacity: 80%;
    cursor: pointer;
}
#videoListV li:hover{
    transform: scale(1.10);
    transition: 0.5s;
    opacity: 100%;
}
#videoListV img{
    margin: 0% auto;
    width: 50px;
    height: 50px;
    padding: 1px;
    border-radius: 6px;
    border: 1px solid rgba(135, 206, 250, 0.747);
    box-shadow: 0px 3px 6px black;
}
#videoListV h5{
    color: yellow;
    text-shadow: 2px 2px 2px darkblue;
    font-size: 14px;
}
#videoListV p{
    color: white;
    text-shadow: 0px 0px 2px gold;
    font-size: 12px;
}


#set-name-btn:hover{
    transform: scale(1.10);
    transition: 0.5s ease;
    box-shadow: 0px 2px 8px gold;
    border: none;
}
#message-input {
    margin: 0% auto;
    position: relative;
    width: 65%;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    border: 2px solid lightskyblue;
    background-color: rgba(245, 245, 245, 0.842);
    box-shadow: 0px 2px 4px black;
    text-align: center;
   
    
}

#message-btn {
    margin: 0% auto;
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-shadow: 0px 0px 3px gold;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid gold;
    box-shadow: 0px 2px 6px black;
    cursor: pointer;
    color: rgba(255, 217, 0, 0.795);
}
#message-btn:hover{
    transform: scale(1.10);
    transition: 0.5s ease;
    color: rgb(68, 238, 68);
    box-shadow: 0px 2px 8px gold;
    border: none;
}

#voice-input-btn {
    margin: 0% auto;
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-shadow: 0px 0px 3px gold;
    font-size: 18px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gold;
    box-shadow: 0px 2px 6px black;
    cursor: pointer;
    color: rgba(255, 217, 0, 0.795);
    
}
#voice-input-btn:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
    color: rgb(68, 238, 68);
    box-shadow: 0px 2px 8px gold;
    border: none;
}

.Home-btn{
    margin:  0% auto;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: rgba(2, 5, 39, 0.219);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10%;
    height: 20px;
    border-radius: 6px;
    border-bottom: 1px solid wheat;
    opacity: 70%;
    z-index: 999;
}
.Home-btn ion-icon{
    color: rgba(202, 173, 10, 0.616);
    font-size: 20px;
}
.Home-btn:hover{
    transform: scale(1.10);
    transition: 0.5s ease;
    color: gold;
    box-shadow: 0px 2px 8px gold;
    opacity: 100%;
}

#greeting{
    margin: 0% auto;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 3px gold;
    border-left: 1px solid rgba(255, 255, 0, 0.767);
    border-right: 1px solid rgba(255, 255, 0, 0.781);
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 0px 3px 6px black;
    padding: 10px;
    width: 55%;
    border-radius: 20px;
    margin-top: 15px;
    
}





        /* Emoji picker box styles */
        .emoji-box {
            margin:  0% auto;
            display: none;
            position: fixed;
            bottom: 60px;
            left: 40px;
            background-color: rgba(58, 45, 45, 0.349);
            
            border-radius: 8px;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow-y: scroll;
            width: 265px;
            height: 40vh;
            z-index: 10;
        }
        .emoji-box::-webkit-scrollbar{
            width: 10px;
            height: 0px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
           
        }
        .emoji-box::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
            border: 1px solid gold;
            border-radius: 50px;
        }
        .emoji-box::-webkit-scrollbar-thumb:hover{
            border: 2px solid gold;
            background-color: black;
            width: 10px;
            height: 10px;
        }
        .Chat-Display::-webkit-scrollbar-track{
            background: transparent;
        }

        /* Style for each emoji in the box */
        .emoji-item {
            margin:  auto;
            text-align: center;
            font-size: 25px;
            cursor: pointer;
            padding: 5px;
            transition: background-color 0.3s;
        }

        .emoji-item:hover {
            background-color: #f1f1f1a9;
            border-radius: 10px;
        }

        /* Style for selected emoji */
        .selected-emoji {
            margin-left: 10px;
        }
        #emojiButton{
            margin: 0% auto;
            border-bottom: 1px solid gold;

            position: relative;
            left: 0px;
            font-size: 18px;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px gold;

        }

        .Emoji-Grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            margin: 0% auto;
            padding: 10px -6px;
        }



        #HideShow-Btn{
            margin: 0% auto;
            position: relative;
            padding: 5px 5px;
            bottom: 6px;
            width: 50px;
            height: 50px;
            background-image: url(MusicSearchBarGif.gif);
            background-position: center;
            background-size: cover;
            background-blend-mode: color-burn;
            left: 5px;
            font-size: 25px;
            border: none;
            border-top: 2px solid  yellow;
            justify-content: center;
            align-items: center;
            text-align: center;
            align-items: center;
            margin-top: 10px;
            border-radius: 10px;
            color: rgba(255, 255, 0, 0.541);          
            text-shadow: 2px 2px 4px darkblue;
            box-shadow: 0px 2px 6px lightskyblue;
            cursor: pointer;
            background-color: rgba(4, 10, 46, 0.315);
            z-index: 999;
            opacity: 80%;
           
        }
        #HideShow-Btn:hover{
            transform: scale(1.10);
            transition: 0.5s;
            opacity: 100%;
        }


        #HideShow-Btn2 {
            position: absolute; /* Keeps the button positioned relative to the nearest positioned ancestor */
            top: -56px; /* Keeps it positioned 203px from the top */
            right: 5px; /* Aligns it 15px from the right side of the container */
            width: 50px;
            height: 50px;
            padding: 5px;
            background-image: url(videocampicc2222.jpg);
            background-position: center;
            background-size: cover;
            background-blend-mode: color-burn;
            font-size: 25px;
            border: none;
            border-top: 2px solid yellow;
            border-radius: 10px;
            color: rgba(255, 255, 0, 0.651);
            text-shadow: 2px 2px 4px darkblue;
            box-shadow: 0px 2px 6px lightskyblue;
            cursor: pointer;
            background-color: rgba(4, 10, 46, 0.315);
            z-index: 999;
            opacity: 80%;
        }
        
        /* Optional: Apply relative positioning to the parent container */
        #parent-container { 
            position: relative;
          /* Ensures the button is within the full screen area */
        }
       
        #HideShow-Btn2:hover{
            transform: scale(1.10);
            transition: 0.5s;
            opacity: 100%;
        }

        
        


        .Music-player-Btns{
            margin: 0% auto;
            position: relative;
            
        }



        #audio-controls{
            margin: 0% auto;
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba(245, 245, 245, 0.096);
            box-shadow: 0px 2px 10px rgba(135, 206, 250, 0.322);
            padding: 10px;
            border-radius: 50px;
            margin-bottom: 10px;
            box-sizing: border-box;
            width: 90%;
          }
          #audio-controls button{
            margin: 0 auto;
            font-size: 16px;
            padding: 10px 10px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: rgba(255, 218, 6, 0.733);
            background: rgba(20, 91, 172, 0.397);
            border: 1px solid yellowgreen;
            box-shadow: 0px 1px 4px lightsalmon;
            border-radius: 30px;
            cursor: pointer;
          }
          #playPauseBtn i{
            margin: 0% auto;
            font-size: 20px; 
          }
          #playPauseBtn{
            font-size: 20px;
          }





          .Music-player-Btns{
            margin: 0% auto;
            position: relative;
            
        }



        #video-controls{
            margin: 0% auto;
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba(245, 245, 245, 0.096);
            box-shadow: 0px 2px 10px rgba(135, 206, 250, 0.322);
            padding: 10px;
            border-radius: 50px;
            margin-bottom: 10px;
            box-sizing: border-box;
            width: 90%;
          }
          #video-controls button{
            margin: 0 auto;
            font-size: 16px;
            padding: 10px 10px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: rgba(255, 218, 6, 0.733);
            background: rgba(20, 91, 172, 0.397);
            border: 1px solid yellowgreen;
            box-shadow: 0px 1px 4px lightsalmon;
            border-radius: 30px;
            cursor: pointer;
          }
          #playPauseBtn i{
            margin: 0% auto;
            font-size: 20px; 
          }
          #playPauseBtn{
            font-size: 20px;
          }








          
    .container1{
        height: 95px;
        display: flex;
        overflow: scroll;
        margin-bottom: 5px;
    }
    body.light .container1{
      background: linear-gradient(to right,darkblue,lightgreen,maroon);
    }
    .container1 .product{
        margin: 0% auto;
        margin: 5px;
    }
    .hits-title{
        margin: 0% auto;
        text-align: center;
        color: rgba(255, 255, 0, 0.747);
        text-shadow: 2px 2px 2px darkblue;
        background-color: rgba(245, 245, 245, 0.103);
        font-size: 15px;
        padding: 5px;
        width: 40%;
        border-radius: 12px;
        border-top: 2px solid rgba(255, 255, 0, 0.603);
        opacity: 90%;
        box-shadow: 0px 2px 8px black;
        margin-bottom: -35px;
    }

    
      
    body.light .product{
        box-shadow: 0px 4px 8px black;
        border-left: 2px solid crimson;
        border-right: 2px solid blue;
        border-top: 2px solid yellowgreen;
        border-bottom: 2px solid yellowgreen;
    }
    
    .product img {
        width: 75px;
        height: 75px;
        cursor: pointer;
        border-radius: 10px;
        transition: transform 0.3s ease;
        border: 1px solid lightskyblue;
        padding: 2px;
        box-shadow: 0px 3px 6px rgba(135, 206, 250, 0.651);
    }
    body.light .product img{
        border: 1px solid rgba(153, 205, 50, 0.781);
    }
    
    .product img:hover {
        transform: scale(1.05);
    }
    
    .modal {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7); /* Black with opacity */
        padding-top: 60px;
        box-sizing: border-box;
    }
    
    .modal-content {
        position: relative;
        margin: auto;
        background-color: rgba(135, 206, 250, 0.452);
        padding: 20px;
        width: 80%;
        max-width: 800px; /* Limit width */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    body.light .modal-content{
        background-color: rgba(220, 20, 60, 0.5);
    }
    
    video {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
    
    /* Navigation Buttons */
    .prev, .next {
        position: absolute;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 30px;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }
    
    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    /* Close Modal on Click Outside */
    .modal:hover {
        cursor: pointer;
    }
    
    
    #Video-tag{
        color: yellow;
        text-shadow: 1px 1px 2px darkblue;
        margin-bottom: 5px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .product h3{
        font-size: 14px;
        margin-bottom: 5px;
        color: white;
        text-shadow: 0px 0px 2px gold;
        border-bottom: 1px solid darkgray;
        border-radius: 20px;
     
    }

    
    .Class-Note{
        color: darkgray;
    }
  
    .container1::-webkit-scrollbar{
        background-color: transparent;
        height: 10px;
        width: 0;
    }
    .container1::-webkit-scrollbar-track{
        background-color: transparent;
    }
    
    .container1::-webkit-scrollbar-thumb{
        background-color: transparent;
        border-radius: 8px;
        height: 10px;
        width: 0px;
        border: 1px solid lightskyblue;
        cursor: pointer;
    }
    body.light .container1::-webkit-scrollbar-thumb{
        border: 1px solid yellowgreen;
    }
    .container1::-webkit-scrollbar-thumb:hover{
        border: 2px solid lightskyblue;
        background-color: rgba(0, 0, 0, 0.342);
    }
    body.light .container1::-webkit-scrollbar-thumb:hover{
        border: 2px solid yellowgreen;
        background-color: rgba(0, 0, 0, 0.342);
    }
  
    .Watch-Modal{
      margin: 0% auto;
      text-decoration: none;
      color: white;
      text-shadow: 0px 0px 2px gold;
      border-bottom: 2px solid wheat;
      border-left: 2px solid maroon;
      border-right: 2px solid blue;
      box-shadow: 0px 2px 10px black;
      background-color: rgba(173, 10, 43, 0.842);
      padding: 10px;
      letter-spacing: 0.5px;
      border-radius: 100%;
      opacity: 80%;
    }
    .Watch-Modal ion-icon{
      color: rgba(300, 217, 0, 0.637);
      border-bottom: 1px solid wheat;
      box-shadow: 0px 2px 2px darkblue;
      border-radius: 50px;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
    }
    .Watch-Modal:hover{
      opacity: 100%;
      text-shadow: 0px 0px 4px gold;
      transform: scale(1.10);
      transition: 0.5s;
    }
    body.light .Watch-Modal{
      background-color: rgba(0, 00, 30, 200.548);
      border-left: 2px solid red;
    }
    .Main-Nav{
      margin: 0% auto;
      display: flex;
      gap: 15px;
      margin-inline-start: 5px;
    }
    .Main-Nav .Contact-Nav{
      color: transparent;
      text-decoration: none;
      background-color: black;
      padding: 6px 15px;
      border-radius: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid wheat;
      box-shadow: 0px 2px 8px darkgray;
          background-image: url(ContactImgPic.gif);
          background-position: center;
          background-size: 45%;
          background-repeat: no-repeat;
      opacity: 90%;
          }
      body.light .Main-Nav .Contact-Nav{
        box-shadow: 0px 2px 8px black;
        
      }
  
  
  
  
     #skipAd {
      position: fixed;
      right: 5px;
      bottom: 2px;
      padding: 10px 20px;
      background-color: darkblue;
      color: white;
      font-size: 16px;
      border: none;
      border: 1px solid yellowgreen;
      cursor: pointer;
      border-radius: 20px;
  }
  
   /* Ad Section Styles */
   .ad-section {
      margin: 0% auto;
      position: fixed;
      display: none;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center; 
      font-size: 24px;
  }
  .ad-section img{
      border-radius: 10px;
  }
  .add-title{
      margin: 0% auto;
      color: white;
      text-shadow: 2px 2px 4px gold;
      text-align: center;
      align-items: center;
      width: 300px;
      background-color: rgba(0, 0, 0, 0.541);
      padding: 10px;
      border-radius: 10px;
  }
  .Visit-Store{
      margin: 0% auto;
      position: relative;
      bottom: 0;
      left: 0;
      display: flex;
      color: white;
      text-shadow: 2px 2px 4px gold;
      display: inline-block;
  
  }
  .Visit-Store:hover{
      transform: scale(1.10);
      transition: 1s ease-in-out;
  }
  
  
  
  @media screen and (min-width: 768px){
      .ad-section {
          margin: 0% auto;
          display: inline-block;
          position: fixed;
          bottom: 0;
          justify-content: center;
          align-items: center;
          min-width: 550px;
          min-height: 400px;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          text-align: center;
          font-size: 24px;
      }
      .ad-section img{
          margin: 0% auto;
          max-width: 550px;
          max-height: 400px;
      }
  
      .Visit-Store{
          margin: 0% auto;
          text-align: center;
          justify-content: center;
          display: flex;
          
      
      }
      .hits-title{
        width: 20%;
      }
      .modal {
        padding-top: 30px;
    }
  
  }
  
    
    
    /* Responsive Design for Smaller Screens */
    @media screen and (max-width: 768px) {
        .modal {
            padding-top: 60px;
        }
        .modal-content {
            width: 100%;
        }
    
        .prev, .next {
            font-size: 24px;
            padding: 8px;
        }
       
    }
   




          
@media (min-width: 768px){
    #HideShow-Btn{
        width: 100px;
        left: 30px;
    
    }
    .song-details {
        width: 500px;
    }
    .Chat-Display{
        margin: 0% auto;
        border: none;
        box-shadow: none;
        height: 330px;
        margin-bottom: 7%;
    } 
    #message-input{
        width: 50%;
        font-size: 18px;
    }
    h1{
        width: 600px;
        margin-bottom: 20px;
    }
    h2{
        width: 500px;
    }
    .Home-btn{
        position: absolute;
        width: 50px;
        height: 30px;
        bottom: 0;
    }
    #greeting{
        margin-bottom: 10px;
        width: 400px;
    }
    #username-container{
        margin: 0% auto;
        width: 40%;
    }

    #message-btn{
       width: 5%;
       padding: 5px;
       
    }
    
    .song-details{
        width: 450px;
    }
    #songImage{
        width: 100px;
        height: 100px;
    }

    li {
      
        width: 40%;
        margin-left: 40%;
    
       
    }
    .sent {        
        width: 40%;
        margin-right: 40%;
       
    }

    #audio-controls{
        margin: 0% auto;
        position: relative;
        width: 90%;
        justify-content: center;
        align-content: center;
        text-align: center;
        cursor: pointer;
        z-index: 999;
        
    }

     .container1{
        width: 100%;
        margin: 0% auto;
        height: 175px;
        margin-bottom: 5px;
     }
    .product img {
        width: 150px;
        height: 150px;
  
    }
    #trackList{
        height: 30vh;
    }
    #trackList li{
       width: 300px;
    }
    #trackList img{
        width: 75px;
        height: 75px;
    }

}