*{
    margin: 0%;
    padding: 0%;
  }
  footer{
    bottom: 0;
    
  }
  html{
    height: 100%;
     }
  
     .jj2{
      margin-bottom: 5%;
      }
   
  body{
      min-height: 100%;
      flex-direction: column;
      height: 100dvh;
      position: center;
      background-color: whitesmoke;
      align-items: center;
      text-align: center;
      border: 10px solid #151618;
      box-shadow: 2px 2px 4px gold;
      border-radius: 50px;
      font-size: 100%;
      align-content: center;
      font-family: 'Times New Roman', Times, serif;
      }
      
         h1{
          margin-bottom: 3%;
          background: linear-gradient(to left, black,maroon,lightgreen,blue,black); 
          font-size: 80px;
          color: white;
          text-shadow: 2px 2px 10px gold;
          border: 4px solid gold;
          letter-spacing: 2px;
          box-shadow: 5px 15px 15px darkblue;
          border-radius: 100%;
          
         }
        h1 ion-icon{
          color: rgba(255, 217, 0, 0.801);
          border-bottom: 2px solid gold;
          box-shadow: 2px 4px 6px maroon;
          border-radius: 50px;
          background-image: url(lollipop_3GIF.gif);
          background-size: cover;
          background-color: transparent;
   
        }
        h6{
          font-size: 25px;
          font-weight: bold;
          font-family: 'Times New Roman', Times, serif;
          color: white;
          text-shadow: 2px 2px 4px gold;
         }
         h6 .icon{
          color: gold;
         }
         .error-msg{
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: red;
          font-weight: bold;
          font-size: 16px;
          background-color: #151618;
          border-radius: 10px;
         }
         .error-msg ion-icon{
          color: red;
          border: 2px solid red;
          background-color: gold;
          border-radius: 50px;
          padding: 5px 10px;
         }
         
         .hits-title{
          background-image: url(MAGENTAFIREGIF.webp);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          color: white;
          text-shadow: 3px 3px 2px gold;
          font-weight: bold;
          font-size: 40px;
          box-shadow: 2px 2px 4px gold;
        }
        .hits-title ion-icon{
          font-size: 30px;
          color: rgba(255, 217, 0, 0.767);
          box-shadow: 2px 6px 10px maroon;
          border-radius: 100%;
          background-image: url(lollipop_3GIF.gif);
          background-position: center;
          background-size: cover;
          background-color: black;
          border: 10px solid goldenrod;
          
         }
        
         .hits-title2{
          background-image: url(GUITARGIF1.gif);
          background-position: center;
          background-size: cover;
         }
      
         .hits-title2 ion-icon{
          font-size: 25px;
          color: gold; 
          background-color: transparent;
         }
         .hits-title2{
          color: gold;
          text-shadow: 3px 3px 3px blue;
          margin-bottom: 5%;
         }       
      .navbar3{
        background-image: url(RedBull-Monster-Brand-Colour-Swap.webp);
        background-position: center;
        background-size: 20%;
        border-radius: 20px;
        box-shadow:2px 6px 6px darkmagenta;
        border:2px solid gold;
        padding: 20px;
        bottom: 0%;
       }
  
        #sidebar{
          font-weight: bold;
          position: absolute;
          width: 300px;
          height: 60%;
          border-radius: 30px;
          left: -300px;
          transition: .4s;
          cursor: pointer;
        }
  
        #sidebar ul li{
          color: beige;
          text-shadow: 2px 2px 4px gold;
          font-weight: bold;
          margin: 10px;
          padding: 10px;  
        }
        .navigation3 li a{
          color: gold;
          background: transparent;
          font-size: 25px;
          font-weight: bold;
          border-radius: 100%;
          padding: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          border: none; 
          text-decoration: none;

        }
          li i:hover{
          color: blue;
          transition: 0.5s;
          background-color: black;
          border-radius: 100%;
          box-shadow: 2px 6px 10px white;
    
        }
        li a{
          color: gold;
          background: black;
          font-size: 25px;
          font-weight: bold;
          box-shadow: 2px 6px 6px maroon;
          border-radius: 100%;
          padding: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          border: none; 
          text-decoration: none;

        }
        li i:hover{
          color: maroon;
          transition: 0.5s;
          background-color: black;
          border-radius: 100%;
          box-shadow: 2px 6px 10px white;
    
        }
        #sidebar .toggle-btn {
          position: absolute;
          left: 330px;
        }
        .toggle-btn:hover{
            color: blue;
            text-shadow: 2px 2px 4px gold;
            box-shadow: 3px 3px 10px gold;
            transform: scale(1.10);
            transition: 0s;
            border-radius: 20px;
          }
        #sidebar.active {
          left: 0%;
        }
        
        .span1{
          font-size: 50px;
          position: relative;
          color: gold;
          box-shadow:2px 3px 10px maroon;
          border: 4px solid goldenrod;
          border-radius: 20px;
          background: linear-gradient(to left, black,maroon,lightgreen,darkblue,black);
          
        }
        .span1:hover{
          color: maroon;
          text-shadow: 2px 2px 4px gold;
          box-shadow: 3px 3px 10px  gold;
          transform: scale(1.05);
          transition: 0s;
        }
        h6{
          color: white;
          box-shadow: 2px 6px 10px maroon;
          border-radius: 25px;
          background: linear-gradient(to top,black,gold,black);
        }
        .icon{
          background-color: black;
          box-shadow: 2px 6px 10px maroon;
          border-radius: 100px;
          background-image: url(lollipop_3GIF.gif);
          background-size: cover;
          background-position: center;
        }
  
        .dropdown{
          align-items: center;
          align-content: space-between;
          display: inline-block;
      }
      .dropdown.active{
        right:0%;
      }
      .dropdown button{
          object-position: left;
          box-shadow: 2px 4px 6px blue;
          font-size: 30px;
          font-weight:bolder;
          background: linear-gradient(to left, black,maroon,lightgreen,darkblue,black);
          padding: 10px 15px;
          border: 4px solid goldenrod;
          border-radius: 20px;
          cursor: pointer;
          transition: 0s;
      }
      .dropdown a{
          box-shadow: 2px 3px 10px gold;
          font-size: 20px;
          text-align: center;
          width: 175px;
          height: 10dvh;
          display: block;
          color: black;
          text-decoration: none;
          padding: 5px 5px;
          transition: 0s;
      }
      .dropdown .content{
          transition-duration: 0s;
          display: none;
          position: absolute;
          width: 100%;
          border: 2px solid gold;
          border-radius: 10px;
          box-shadow: 4px 4px 10px maroon;
      }
      .dropdown:hover .content{
          display: block;
      }
      .dropdown:hover button{
        color: maroon;
        text-shadow: 2px 2px 4px gold;
        box-shadow: 3px 3px 10px maroon;
        transform: scale(1.10);
        transition: 0s;
      }
      .dropdown a:hover{
          color: gold;
          text-shadow: 3px 3px 10px gold;
          transition: 0.5s;
      }
      .g-btn:hover{
          background-color: gold;
          color: white;
      }
      .dropdown a{
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: bold;
          font-size: 25px;
          color: gold;
          text-shadow:2px 2px 6px darkmagenta;
          border: 2px solid gold;
          box-shadow: 2px 4px 10px black;
          background-color: transparent;
          border-radius: 20px;
          text-decoration: none;
          display: block;
          z-index: 999;
      }
      .dropdown li a:hover{
        color: beige;
        text-shadow: 3px 2px 10px gold;
        background-color: transparent;
      }
      .dropdown ion-icon{
        color: gold;
      }
      .li a{
        background-image: url(ADONISALAPIC.jpg);
        background-position: top;
        background-size: cover;
        border-radius: 20px;
      }
      .li1 a{
        background-image: url(googlelog.gif);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      .li2 a{
        background-image: url(NBC2pic.png);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        background-color: black;
        
      }
      .li3 a{
        background-image: url(NETFLIXPIC.png);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        
      }
      .li4 a{
        background-image: url(PLUTOTVPIC.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        
      }
      .li a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li1 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li2 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
  
     .li3 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li4 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .logo-tiktok{
        text-align: center;
        font-size: 32px;
        color: gold;
        border-radius: 50%;
      }
      .logo-tiktok:hover{
        background-color: black;
        color: maroon;
        box-shadow: 2px 6px 10px white;
        text-shadow: 2px 2px 10px goldenrod;
        border-radius: 100%;
      }
      .li5 a{
        background-image: url(itunespic222.gif);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        
      }
      .li5 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li6 a{
        background-image: url(SALSAPIC2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      .li6 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li7 a{
        background-image: url(BACHATAPIC.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      .li7 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li8 a{
        background-image: url(REGGAETONPICCC11.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      .li8 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li9 a{
        background-image: url(RANCHERASPIC1.jpg);
        background-position: top;
        background-size: cover;
        border-radius: 20px;
      }
      .li9 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li10 a{
        text-align: center;
        background-image: url(HIPHOPPIC.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li10 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li11 a{
        text-align: center;
        background-image: url(mambopic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li11 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li12 a{
        text-align: center;
        background-image: url(DEMBOWPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li12 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li13 a{
        text-align: center;
        background-image: url(airbnbpicccc.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li13 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li14 a{
        font-size: 30px;
        text-align: center;
        background-image: url(wheatherpic222.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li14 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li50 a{
        font-size: 30px;
        text-align: center;
        background-image: url(Bar.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li50 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
  
      .content{
        height: 30%;
        max-width: 200px;
        overflow-x: scroll;
        overflow-block: clip;
        
      }
      .content::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        font-size: 10px;
      }
      .content::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
        box-shadow: 4px 4px 10px darkblue;
        margin-block: .5em;
        padding-block: .5em;
      }
      .content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: 2px 6px 10px gold;
      }
      .content::-webkit-scrollbar-thumb:hover {
        background:gold;
      }
      .content::-webkit-scrollbar-thumb{
        transition: background-color 0.5s ease;
      }
      .content::-webkit-scrollbar-thumb{
        background: linear-gradient(maroon,black,blue);
        border: 1px solid gold;    
      }
      header{
        position: initial;
        align-items: center;
        background-color: transparent;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        
      }
      header li{
        align-items: center;
        list-style: none;
        display: inline-block;
        
      }
      .dropdown a ion-icon{
        font-size: 30px;
        align-content: center;
        color: gold;
        border-radius: 20px;
        text-shadow: 2px 2px 4px gold;
        box-shadow: 2px 2px 4px gold;
        text-decoration: none;
        background-color: black;
      }
      
      .dropdown ion-icon{
        font-size: 35px;
      }
      
      .navigation{
        align-content: center;
        text-align: center;
        max-width: 100%;
        border: 1px solid gold;
        display: flex;
        overflow-x: scroll;
        border-radius: 10px;
        box-shadow: 2px 4px 10px gold;
        background: linear-gradient(to top,maroon,lightgreen,darkblue);
  
      }
     
      
      .navigation .item{
        color: beige;
        align-items: center;
        text-align: center;
        align-content: center;
      }
      .navigation::-webkit-scrollbar{
        width: 0%;
      }
      .navigation::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: 4px 4px 10px gold;
        border-bottom: 2px solid black;
        margin-block: .5em;
        padding-block: .5em;
      }
      .navigation::-webkit-scrollbar::-ms-thumb{
        background-color: darkblue;
        border-radius: 20px;
        box-shadow: 2px 2px 4px gold;
      }
  
      .navigation .item:hover{
        background-color: gold;
      }
      .navigation .item:hover ion-icon{
        color: maroon;
        text-shadow: 2px 2px 4px gold;
      }
      .navigation .item {
        font-size: 50px;
      }
  
      .navigation::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: 2px 2px 10px gold;
      }
      .navigation::-webkit-scrollbar-thumb:hover {
        background: gold;
      }
      .navigation::-webkit-scrollbar-thumb{
        transition: background-color 0.5s ease;
      }
      .navigation::-webkit-scrollbar-thumb{
        background: linear-gradient(darkblue,black,maroon);
        border: 2px solid gold;    
      }
      
      .navigation .team6{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(QUEPECAOTURIZOCAPOPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team6:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452);  
      }
  
      .navigation .mlb{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(BigxLastPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .mlb:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(255, 217, 0, 0.349);   
      }
      .navigation .team1{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image: url(ANUELLAMAFIAPICCC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team1:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452);  
      }
  
      .navigation .nba{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(Domfrenametupic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .nba:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452); 
      }
  
      .navigation .team8{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(PoetaFuiFuiPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team8:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452);
      }
      .navigation .team3{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(MEZTIBRAULIOKIKIAPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team3:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452); 
      }
  
      .navigation .team2{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(RochyModo40Pic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team2:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452); 
      }
      .navigation .team9{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(ElAlfaRikitanPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team9:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452); 
      }
      
  
      .navigation .team7{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(GABRIELOMEGAPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team7:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452);  
  
      }
     
      .navigation .team5{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(ShakiraSolteraPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px maroon;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team5:hover{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px lightgreen;
        background-color: rgba(0, 0, 0, 0.452); 
      }
      
      
      .navigation div ion-icon{
         padding: 20px;
         font-weight: bold;
         font-size: 20px;
         color: transparent;
         box-shadow: 2px 2px 10px  transparent;
         border-radius: 10px;
         
      }
      .navigation div ion-icon:hover{
        background-color: rgba(0, 0, 0, 0.514);
        color: gold;
        box-shadow: 2px 2px 4px lightgreen;
        transition: 0.5s;
      }
      .navigation div:hover{
        margin: 5px;
        transform: scale(1.10);
        transition: 0.5s;
      }
   
      .li27 a{
        font-size: 30px;
        text-align: center;
        background-image: url(videocampicc2222.jpg);
        background-color:black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li27 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      
      .li28 a{
        font-size: 30px;
        text-align: center;
        background-image: url(MYKETOWERSPOSTERPIC.webp);
        background-color:black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li28 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li28 a ion-icon{
        color: gold;
        background-image: url(lollipop_4444GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      .li29 a{
        font-size: 30px;
        text-align: center;
        background-image: url(lyricsimage.gif);
        background-color:black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li29 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .navigation .team10{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(FlyMetoTheMoonPic.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team10:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team11{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(TransformerPic.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #151515;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkblue;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team11:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team12{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(1992moviePic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team12:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team13{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(VenonMPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team13:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team14{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(JokerPic.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team14:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team15{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(RedOneMPIC.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team15:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team16{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(SONI3LOGOPIC.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team16:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team17{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(DespicMoPic.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team17:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team18{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(ImaginaMPic.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team18:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
      .navigation .team19{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(BlackPhonePic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team19:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
  
      .navigation .team20{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(DoraPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px lightgreen;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team20:hover{
        color: darkblue;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkblue;
      }
  
      .hits-title3{
        background: linear-gradient(to top, black,gold,black);
        color: white;
        text-shadow: 2px 3px 2px gold;
        font-weight: bold;
        font-size: 40px;
        box-shadow: 2px 2px 4px gold;
      }
       .hits-title3 ion-icon{
        font-size: 30px;
        color: rgba(255, 217, 0, 0.767);
        text-shadow: 2px 2px 4px gold;
        transition: color.5s;
        box-shadow: 2px 6px 10px blue;
        border-radius: 100%;
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-color: black;
        border: 10px solid goldenrod;
        
       }
      
      .hits-title4{
        background: linear-gradient(to top,black,gold,black);
        color: white;
        text-shadow: 3px 3px 2px gold;
        font-weight: bold;
        font-size: 40px;
        box-shadow: 2px 2px 4px gold;
      
      }
      
       .hits-title4 ion-icon{
        font-size: 30px;
        color: rgba(255, 217, 0, 0.767);
        transition: color.5s;
        box-shadow: 2px 6px 10px maroon;
        border-radius: 100%;
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-color: black;
        border: 10px solid goldenrod;
        padding: 5px;
        
       }
       
       
       .hits-title5{
          font-size: 40px;
          background-image: url(MusicGig.gif);
          background-position: center;
          background-size: 25%;
       }
       .hits-title5 ion-icon{
        font-size: 30px;
        color: rgba(255, 217, 0, 0.767);
        box-shadow: 2px 6px 10px maroon;
        border-radius: 100%;
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-color: black;
        border: 10px solid goldenrod;
        
       }
       
       .hits-title2{
        margin: 0;
    }
    footer{
       bottom: 0;
    }
    .navigation3{
        text-decoration: none;
        align-content: center;
        text-align: center;
        max-width: 100%;
        border: 1px solid gold;
        display: flex;
        overflow-x: scroll;
        border-radius: 10px;
        box-shadow: 2px 4px 10px gold;
        background: linear-gradient(to top, maroon,lightgreen,darkblue);
      }
      
      .navigation3 .item{
        color: beige;
        align-items: center;
        text-align: center;
        align-content: center;
      }
      .navigation3::-webkit-scrollbar{
        width: 0%;
       
      }
      .navigation3::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: 4px 4px 10px gold;
        border-bottom: 2px solid black;
        margin-block: .5em;
        padding-block: .5em;
      }
      .navigation3::-webkit-scrollbar::-ms-thumb{
        background-color: darkblue;
        border-radius: 20px;
        box-shadow: 2px 2px 4px gold;
      }
    
      .navigation3 .item:hover{
        background-color: gold;
      }
      .navigation3 .item {
        font-size: 50px;
      }
    
      .navigation::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: 2px 2px 10px gold;
      }
      .navigation3::-webkit-scrollbar-thumb:hover {
        background: gold;
      }
      .navigation3::-webkit-scrollbar-thumb{
        transition: background-color 0.5s ease;
        border-radius: 20px;
      }
      .navigation3::-webkit-scrollbar-thumb{
        background: linear-gradient(black,gold,black,);
        border: 2px solid gold;    
      }
      .navigation3 li{
        text-decoration: none;
        padding: 25px 25px;
        border: 6px solid darkblue;
        margin-bottom: 1%;
        margin-top: 1%;
        border-radius: 15px;
        margin-inline: 5px;    
      }
      .navigation3 li:hover{
        color: maroon;
        box-shadow: 2px 2px 4px gold;
        transform: scale(1.10);
        transition: 0.5s;
      }
      .navigation3 li ion-icon{
        color: transparent;
      }
      .navigation3 li ion-icon:hover{
        color: gold;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 10px;
      }

      .navigation3 a{
        color: gold;
        text-decoration: none;
        background-image: none;
        box-shadow: none;   
      }
      
    
      .lit4{
        background-image: url(BlackPhonePic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
      .lit5{
        background-image: url(DoraSepPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
      .lit6{
        background-image: url(JokerPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        .lit7{
          background-image: url(FlyMetoTheMoonPic.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          }    
        .lit8{
            background-image: url(TransformerPic.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
        .lit9{
          background-image: url(1992moviePic.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
              } 
        .lit10{
          background-image: url(VenonMPic.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
                } 
                
        .lit11{
          background-image: url(RedOneMPIC.webp);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          } 
                        
      .lit12{
               background-image: url(SONI3LOGOPIC.webp);
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
             } 
      .lit13{
          background-image: url(DespicMoPic.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          }
      .lit14{
          background-image: url(ImaginaMPic.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          }
    
      .lit15{
          background-image: url(USOPENGIF.webp);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          }
          .lit16{
            background-image: url(MLB\ GIF.gif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }    
          .lit17{
              background-image: url(FIFA.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              }
          .lit18{
            background-image: url(NBAGIFF.gif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
                } 
          .lit19{
            background-image: url(EUROCUPGIF.gif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
                  } 
                  
          .lit20{
            background-image: url(UFCLOGOGIF.gif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            } 
                          
     .lit21{
                 background-image: url(NFLPIC.gif);
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
        } 
        .lit22{
            background-image: url(formula1pic.gif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
        .lit23{
            background-image: url(motogpicccc.gif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
        .lit24{
            background-image: url(nascarpic1.gif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
                }
         .lit25{
                background-image: url(pgalogo.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                }   
    
      .lit26{
          background-image: url(nhlpic.gif);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          }
    
    
      .li30{
        background-image: url(SALSAPIC2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li31{
        background-image: url(BACHATAPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li32{
        background-image: url(RANCHERASPIC1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li33{
        background-image: url(REGGAETONPICCC11.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li34{
        background-image: url(mambopic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li35{
        background-image: url(DEMBOWPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li36{
        background-image: url(HIPHOPPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li37{
        background-image: url(americanhiohopPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li38{
        background-image: url(UtopiaRomeoPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .li39{
        background-image: url(MykeTowersPosterPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .details-body{
        text-decoration: none;    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: yellow;
        text-shadow: 2px 2px 4px maroon;
        border-radius: 100%;
        border: 4px solid gold;
        box-shadow: 2px 6px 10px lightgreen;
        box-sizing: border-box;
        
      }
      .artist-name{
        font-size: 25px;
      }
      .summary-title{
        box-sizing: content-box;
        font-size: 20px;
        color: maroon;
        text-shadow: 2px 2px 4px gold;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
     
      .song-details{
        box-sizing: content-box;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        align-content: center;
        align-items: center;
        color: white;
        text-shadow: 2px 2px 4px maroon;
        background:linear-gradient(to left,maroon,lightgreen,darkblue);
        border: 3px solid gold;
        border-radius: 20px;
        text-align: center;
        
        
        
      }
      .image-post img{
        border: 2px solid lightblue;
        box-shadow: 2px 6px 10px gold;
        border-radius: 50px;
        margin-bottom: 2px;
        width: 50%;
        height: auto;
        
      }
     .form{
      background: linear-gradient(to left, maroon,lightgreen,darkblue);
      border-radius: 50px;
      border: 2px solid gold;
      margin-bottom: 5px;
      box-shadow: 2px 2px 10px blue;
     }
     .dropdown{
      margin-right: 5px;
     }
     .dropbuttons{
      border: 2px solid goldenrod;
      border-radius: 100px;
      box-shadow: 2px 6px 10px gold;
      background: linear-gradient(to top, black,goldenrod,black);
     }
     .title6{
      font-size: 18px;
      border-radius: 0;
      border-radius: 5px;
     } 
       
     #container {
      width: 50%;
      margin: 0 auto;
      margin-top: 5px;
      border-radius: 50px;
      border: 20px solid rgba(255, 217, 0, 0.527);
     
      
  }
  
  #search {
      display: flex;
      padding: 20px;
      background: linear-gradient(to left,maroon, lightgreen,darkblue);
      border-radius:40px;
      box-shadow: 2px 4px 10px lightblue;
      border: 2px solid lightblue;
  
  
  }
  
  #search label {
      font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgba(117, 117, 2, 0.719);
      text-shadow: 1px 2px 1px gold;
      font-weight: bold;
      margin-right: 5px;
      cursor: pointer;
  }
  
  #searchInput {
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;
      display: inherit;
      width: 100%;
      border-radius: 50px;
      box-shadow: 2px 3px 3px black;
      border: 2px solid gold;
  }
  #searchInput:focus {
      background-color: lightblue;
  }
  label ion-icon{
      font-size: 40px;
      color: rgba(128, 0, 0, 0.63);
      background-image: url(lollipop_3GIF.gif);
      background-size: cover;
      background-position: center;
      background-color: transparent;
      border-bottom: 1px solid goldenrod;
      box-shadow: 2px 3px 2px black;
      border-radius: 50px;
      
  }
  
  #results {
      display: block;
      padding: 10px;
      cursor: pointer;
      transition: 0.5s;
  }
  
  #results .name {
      width: 100%;
      padding: 20px 0;
      text-align: center;
      margin-bottom: 10px;
      list-style-type: none;
   
      
  }

  #results{
      overflow-y: auto;
      max-height: 102px;
      background-color: transparent;
      width: 100px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
  }
  
  
  #results li{
      margin-right: 30px;
      padding: 15px 20px;
      border: 2px solid gold; 
      border-radius: 20px;  
      box-shadow: 2px 5px 2px rgb(100, 100, 100);
      background: linear-gradient(to right, black,darkblue,lightgreen,maroon,black);
  }
  
  #results li:hover {
      transform: scale(1.10);
      transition: 0.5s;
      box-shadow: 1px 6px 1px lightgreen;
      border-radius: 20px;
  }
  #results li a{
      color: none;
      text-decoration: none;  
  }
  #results li a:hover{
     color: orange;
     text-decoration: none;
     
  }
  #results li ion-icon{
    color: gold;
    box-shadow: 1px 2px 3px lightgreen;
    border-radius: 100%;
  }
  #results::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
      
  }
  
  #results{
      margin-top: 10px; 
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      border-radius: 25px;
     }

