*{
    margin: 0%;
    padding: 0%;
}
html{
    margin: 0%;
    padding: 0%;
    height: 100%;
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
    overflow-x: hidden;

}

h1 {
    border: 2px solid gold;
    border-radius: 100%;
    box-shadow: 2px 6px 10px maroon;
    color: white;
    text-shadow: 2px 2px 4px gold;
    position: absolute;
    top: 10%;
    font-size: 50px;
}
h1 ion-icon{
    color: rgba(255, 217, 0, 0.589);
    background-image: url(lollipop_3GIF.gif);
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid gold;
    box-shadow: 2px 3px 3px lightblue;
    border-radius: 50px;
}

#container {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50px;
    background: transparent;
    border: 20px solid rgba(255, 217, 0, 0.527);
   
    
}

#search {
    display: flex;
    padding: 20px;
    background: linear-gradient(to left,maroon, lightgreen,darkblue);
    border-radius:40px;
}

#search label {
    font-size: 20px;
    text-shadow: 2px 2px 4px lightgreen;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

#searchInput {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    display: inherit;
    width: 100%;
    border-radius: 50px;
    box-shadow: 2px 3px 3px black;
    border: 2px solid gold;
}
#searchInput:focus {
    background-color: lightblue;
}
label ion-icon{
    font-size: 40px;
    color: rgba(255, 217, 0, 0.678);
    background-image: url(lollipop_3GIF.gif);
    background-size: cover;
    background-position: center;
    background-color: black;
    border-bottom: 2px solid gold;
    box-shadow: 2px 3px 3px black;
    border-radius: 50px;
    
}

#results {
    display: block;
    padding: 10px;
    cursor: pointer;
}

#results .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    margin-bottom: 10px;
    list-style-type: none;
    
}
#results{
    overflow-y: auto;
    height: 100px;
    background-color: transparent;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flexbox;
    
    
}

#results li {
    padding: 10px 15px;
    border: 2px solid gold;
    padding: 10px 15px;
    border-radius: 15px;   
}

#results li:hover {
    background-color: lightblue;
}
#results li a{
    
     color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px gold;
    
}
#results li a:hover{
   color: black;
   text-decoration: none;
   text-shadow: 2px 2px 4px gold;
   
}
#results::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
    
}
.home-btn{  
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 145px;
    box-shadow: 2px 6px 10px maroon;
   
}

.home-btn button{
    background-image: url(MusicGig.gif);
    background-size: cover;
    background-position: center;
    border: 4px solid goldenrod;
    border-radius: 10px;
    padding: 5px 10px;
}
.home-btn button ion-icon{
    font-size: 20px;
    color: gold;
}
  .home-btn button:hover{
    color: maroon;
    box-shadow: 2px 6px 10px gold;
    transform: scale(1.10);
    transition: 0.5s;
  }
  .home-btn ion-icon:hover{
    color: maroon;
    
  }


