html{
    height: 100%;
}
body{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
h1{
    background-image: none;
    border-radius: 100%;
    border: 4px solid gold;
    box-shadow: 5px 15px 15px darkmagenta;
    margin-top: 5px;
}
footer{
   margin-top: auto;
   background-color: #151515;
   margin-top: auto;
}


